* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a:hover {
  text-decoration: none;
}

.text-aligncenter {
  text-align: center;
  display: block;
}

.cursorPointer {
  cursor: pointer;
}

/* Header1 */
.header1 {
  background: rgb(170, 224, 248);
  line-height: 60px;
  display: flex;
  align-items: center;
}

.barh1 {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-size: 30px;
  padding-left: 10px;
}

.divbtnService {
  display: flex;
  align-items: center;
}

.btnService {
  margin-left: 10px;
}

/* Header2 */
.header2 {
  max-height: 100px;
}

.header2::after {
  content: "";
  width: 100%;
  height: 1px;
  display: table;
  border: rgb(166, 168, 169) solid 1px;
  margin-top: 5px;
}

.logoHeader {
  max-width: 105px;
  height: 75px;
  margin: auto;
  display: block;
  object-fit: cover;
}

.filter {
  height: 40px;
}

.login {
  display: flex;
  flex-direction: row;
}

.logoUser {
  font-size: 35px;
  line-height: 90px;
}

.Hide {
  display: none;
  position: absolute;
  z-index: 100;
  top: 70px;
  width: fit-content;
  background: rgb(228, 228, 228);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.Hide > div {
  padding: 5px 15px;
}

.Hide > div > a {
  color: black;
  font-size: 16px;
}

.loginHide > div > a:hover {
  color: rgb(170, 224, 248);
  text-decoration: none;
}

.infoUser {
  line-height: 90px;
  font-size: 18px;
  padding-left: 10px;
}

.User {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin: auto;
}

.User:hover {
  color: rgb(170, 224, 248);
  text-decoration: none;
}

.moreCart {
  margin: auto;
}

.message:hover {
  color: rgb(170, 224, 248);
}

.addCart > a > span {
  color: white;
  content: "";
  border-radius: 50%;
  width: 25px;
  height: 20px;
  background: rgb(249, 56, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -5px;
  left: 0px;
  z-index: 1;
}

.addCart > a {
  color: black;
}

.addCart > a:hover {
  color: rgb(170, 224, 248);
  text-decoration: none;
}

.box-lang {
  border: black solid 1px;
  width: 50px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.set-lang {
  width: 25px;
  height: 19px;
  object-fit: cover;
}

.get-lang {
  display: none;
  position: absolute;
  z-index: 100;
  width: fit-content;
  background: rgb(228, 228, 228);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.useLang {
  padding: 3px 10px;
}

.useLang > a {
  color: black;
}

.useLang > a:hover {
  color: rgb(170, 224, 248) !important;
  text-decoration: none !important;
}

/* Header3 */
.header3 > .row > nav > a {
  color: black;
  font-weight: bold;
  padding: 10px 5px;
  font-size: 18px;
  cursor: pointer;
}

.header3 > .row > nav > a:hover {
  text-decoration: none;
  color: rgb(170, 224, 248);
}

.transportToggle {
  display: none;
  position: absolute;
  z-index: 100;
  background: rgb(228, 228, 228);
  height: fit-content;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.transportToggle > div {
  padding: 5px 10px;
}

.transportToggle > div > a {
  color: black;
  font-size: 18px;
}

.transportToggle > div > a:hover {
  color: rgb(170, 224, 248);
  text-decoration: none;
}

/* banner */
.banner {
  position: relative;
  width: 100%;
  background: rgb(170, 224, 248);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 25px;
}

.banner:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 310px;
  background-color: rgb(215 242 255);
  right: 0px;
  bottom: 0px;
}

.banner:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 10% 45%;
  width: 100%;
  height: 405px;
  background-color: rgb(170, 224, 248);
  left: 0;
  top: 73px;
}

.prev-slick {
  position: absolute;
  top: 40%;
  left: -15px;
  font-size: 30px;
  background: rgb(93, 200, 217, 0.8);
  border: none;
  color: rgb(255, 255, 255);
  z-index: 10001;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.next-slick {
  position: absolute;
  bottom: 45%;
  right: -15px;
  font-size: 30px;
  background: rgb(93, 200, 217, 0.8);
  border: none;
  color: rgb(255, 255, 255);
  z-index: 10001;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.superSale {
  width: 900px;
  height: 70px;
  background: rgb(19, 110, 230);
  z-index: 1;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.clip-path {
  clip-path: polygon(0% 0%, 75% 0%, 84% 52%, 75% 100%, 0% 100%);
  background: rgb(177, 23, 2);
  width: 170px;
  color: white;
  font-weight: bold;
}

.rightSale {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  border-radius: 10px;
  border: white solid 1px;
  padding: 3px 15px;
  margin-left: 10px;
}

.icSale {
  font-size: 25px;
  padding-right: 15px;
}

.textSale {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.saleMarket {
  position: relative;
  z-index: 1;
  background: white;
  width: 1000px;
  padding: 20px 10px;
}

.onTop::before {
  content: "";
  width: 100%;
  border: rgb(255, 115, 0) solid 2px;
  display: table;
}

.boxPrd {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 115, 0);
  font-weight: bold;
  border: rgb(166, 168, 169) solid 1px;
  padding: 2px 5px;
  border-top: none;
  cursor: pointer;
}

.iconPrd {
  font-size: 35px;
  padding-top: 10px;
}

.imgBanner {
  height: 420px;
  width: 645px;
  object-fit: cover;
}

.saleMarket > .row > div > div > h5 {
  height: 30px;
}

/* special_product */

.bfProduct {
  background: rgb(170, 224, 248);
  padding: 5px 0px;
}

.bfProduct > h4 {
  text-align: center;
}

.rowSlidePrd {
  display: flex;
  flex-direction: row;
}

.imgSlidePrd {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-top: 5px;
}

.boxSlidePrd {
  padding: 5px 5px;
  cursor: pointer;
}

.boxSlidePrd > div {
  display: inline-block;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.boxSlidePrd > div:hover {
  overflow: auto;
  text-overflow: clip;
}

.boxSlidePrd > div::-webkit-scrollbar {
  width: 3px;
  background: #f1f1f1;
}

.boxSlidePrd > div::-webkit-scrollbar-thumb {
  background: rgb(170, 224, 248);
  border-radius: 5px;
}

/* footer */
.footer {
  background: rgb(229, 231, 233);
}

.connBand > h4 {
  display: inline-block;
  padding-left: 15px;
}

.connBand {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shareBrand {
  font-size: 25px;
  padding: 5px 5px;
}

.infoFooter::before {
  content: "";
  width: 100%;
  display: table;
  border: rgb(170, 224, 248) solid 1px;
  margin-top: 20px;
}

.infoFooter > h4 {
  color: red;
}

.infoFooter > div > a {
  color: black;
  font-weight: bold;
}

.infoFooter > div > a:hover {
  text-decoration: none;
  color: rgb(170, 224, 248);
}

.copyright {
  text-align: center;
  background: rgb(170, 224, 248);
  line-height: 50px;
}

/* search */
.boxSearchPrd {
  border: rgb(153, 152, 152) solid 1px;
  padding: 30px 15px;
  margin: -0.5px;
}

.namePrd {
  font-weight: bold;
  color: rgb(74, 145, 239);
  text-transform: uppercase;
}

.imgSearch {
  width: 80%;
  height: 250px;
  margin: auto;
  display: block;
  object-fit: contain;
}

.btnSearchPrd {
  margin: auto;
  display: block;
  padding: 0;
}

.btnSearchPrd > a {
  color: white;
  line-height: 40px;
  padding: 10px;
}

.btnSearchPrd > a:hover {
  color: white;
  text-decoration: none;
}

/* admin */
.admin_img_mota {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
}

.option-logout-toggle-admin {
  display: none;
  min-width: 130px;
  background-color: rgb(229, 231, 233);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px 10px;
}

.logoAdmin {
  width: 90%;
  object-fit: cover;
  margin: auto;
  display: block;
  padding-top: 10px;
}

.btn-sub-modal {
  display: block;
  line-height: 60px;
  font-size: 24px;
  width: 100%;
  margin-top: 40%;
}

#btnModal {
  display: block;
  line-height: 60px;
  font-size: 24px;
  /* margin-top: 40%; */
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #0096c7;
  border-color: #0096c7;
}

.custom-select {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e") !important;
  background-repeat: no-repeat !important;
  background-position: right 0.75rem center !important;
  background-size: 16px 12px !important;
  color: rgb(199, 17, 17);
  font-weight: bold;

}

.backend_showBanner{
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* cart-success */
.h4-success {
  display: block;
  text-align: center;
  color: rgb(34, 158, 179) !important;
}

.content_success {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.img_success {
  max-width: 250px;
}

.rq_swipe_r{
  color: rgb(19, 132, 150);
  font-weight: bold;
  display: none;
}

@media screen and (max-width: 1024px) {
  .header1 {
    display: block;
    padding: 5px 10px;
  }
  .divbtnService {
    display: block;
  }

  .btnService {
    display: block !important;
    margin: 5px 0px;
    width: 100%;
  }

  .header2 {
    max-height: fit-content;
  }

  .login {
    align-items: center;
  }

  .infoUser {
    font-size: 16px;
    line-height: normal;
  }

  .logoUser {
    font-size: 20px;
    line-height: normal;
  }

  .header3 > .row > nav > a {
    display: block;
  }

  .banner {
    padding-bottom: 15px;
  }

  .banner:before {
    display: none;
  }

  .banner:before {
    display: none;
  }

  .prev-slick {
    display: none !important;
  }

  .next-slick {
    display: none !important;
  }

  .saleMarket {
    width: 100%;
    border-radius: 5px;
  }

  .saleMarket > .row > div > div > h5 {
    height: 50px;
  }

  .boxPrd {
    justify-content: center;
    height: 75px;
  }

  .boxPrd > span {
    display: none;
  }

  .imgBanner {
    height: 375px;
    width: 597px;
  }

  .onTop::before {
    position: relative;
    top: -15px;
  }
}

@media screen and (max-width: 768px) {
  .superSale {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 10px 5px;
    border-radius: 10px;
  }

  .rightSale {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    width: 90%;
  }

  .saleMarket > .row > div > div > h5 {
    height: 60px;
    font-size: 20px;
  }

  .imgBanner {
    height: 350px;
    width: 436px;
  }
}

@media screen and (max-width: 540px) {
  .login {
    justify-content: flex-start;
    background: rgb(170, 224, 248);
    padding: 10px;
  }

  .moreCart {
    background: rgb(170, 224, 248);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
  }

  .message {
    border: rgb(170, 224, 248) solid 1px;
    width: 100%;
    padding: 2px 5px;
    background: white;
    border-radius: 5px;
    text-align: center;
  }

  .addCart > a > span {
    bottom: 2px;
    left: 40%;
  }

  .addCart {
    border: rgb(170, 224, 248) solid 1px;
    width: 100%;
    padding: 2px 5px;
    margin-top: 5px;
    background: white;
    border-radius: 5px;
    text-align: center;
  }

  .loginHide {
    top: 40px;
  }

  .logoHeader {
    max-width: 100%;
    height: auto;
  }

  .boxPrd {
    height: 40px;
  }

  .saleMarket > .row > div > div > h5 {
    height: 30px;
    font-size: 12px;
  }

  .onTop::before {
    top: -5px;
  }

  .iconPrd {
    font-size: 18px;
  }

  .imgBanner {
    height: 165px;
    width: 316px;
  }

  .content_success {
    flex-direction: column !important;
  }

  .tb_cart {
    width: max-content;
  }

  .form_tb_cart {
    width: 510px;
    overflow-x: scroll;
  }

  /* .rq_swipe_r{
    display: block;
  } */
}

@media screen and (max-width: 414px) {
  .addCart > a > span {
    left: 37%;
  }

  .form_tb_cart {
    width: 350px;
  }

  .imgBanner {
    height: 165px;
    width: 232px;
  }
}

@media screen and (max-width: 375px) {
  .form_tb_cart {
    width: 315px;
  }

  .imgBanner {
    height: 165px;
    width: 206px;
  }
}

@media screen and (max-width: 320px) {
  .addCart > a > span {
    left: 32%;
  }
  .form_tb_cart {
    width: 305px;
  }
  .tb_cart {
    width: fit-content;
  }
  .imgBanner {
    height: 165px;
    width: 170px;
  }
}

@media screen and (max-width: 285px) {
  .onTop::before {
    top: 0px;
  }

  .imgBanner {
    height: 105px;
    width: 143px;
  }

  .iconPrd {
    font-size: 10px;
  }

  .boxPrd {
    height: 27px;
  }

  .saleMarket > .row > div > div > h5 {
    height: 20px;
    font-size: 8px;
  }

  .icSale {
    padding-right: 10px;
  }

  .form_tb_cart {
    width: 265px;
  }
}
